body {
    background-color: rgb(42, 42, 42);
}

img#icon {
    width: 1em;
    height: 1em;
    position: relative;
    top: 0.08em;
}

h1#label {
    background-color: darkcyan;
    text-transform: uppercase;
    font-family: fantasy;
    letter-spacing: 1.5px;
    font-size: 6em;
    text-align: center;
    position: relative;
    top: -0.5em;
}

h1#about_head {
    text-align: center;
    text-transform: capitalize;
    font-family: monospace;
    font-size: 2.8em;
    color: rgb(190, 190, 198);
    position: relative;
    top: -2.4em;
}

p#about {
    text-align: center;
    font-family: monospace;
    font-size: 1.125em;
    color: rgb(209, 209, 220);
    position: relative;
    top: -5.75em;
    width: 50%;
    right: -25%;
    padding-bottom: 2em;
}

h1#contact_head {
    text-align: center;
    text-transform: capitalize;
    font-family: monospace;
    font-size: 2.8em;
    color: rgb(190, 190, 198);
    position: relative;
    top: -2.4em;
}

p#contact {
    text-align: center;
    font-family: monospace;
    font-size: 1.125em;
    color: rgb(209, 209, 220);
    position: relative;
    top: -5.75em;
    width: 50%;
    right: -25%;
    padding-bottom: 2em;
}

h1#developers_head {
    text-align: center;
    text-transform: capitalize;
    font-family: monospace;
    font-size: 2.8em;
    color: rgb(190, 190, 198);
    position: relative;
    top: -2.4em;
}

p#developers {
    text-align: center;
    font-family: monospace;
    font-size: 1.125em;
    color: rgb(209, 209, 220);
    position: relative;
    top: -5.75em;
    width: 50%;
    right: -25%;
    padding-bottom: 2em;
}

h1#documentation_head {
    text-align: center;
    text-transform: capitalize;
    font-family: monospace;
    font-size: 2.8em;
    color: rgb(190, 190, 198);
    position: relative;
    top: -2.4em;
}

p#documentation {
    text-align: center;
    font-family: monospace;
    font-size: 1.125em;
    color: rgb(209, 209, 220);
    position: relative;
    top: -5.75em;
    width: 50%;
    right: -25%;
}

ul#developers_list {
    font-family: monospace;
    font-size: 1.125em;
    color: rgb(209, 209, 220);
    position: relative;
    top: -5.75em;
    width: 50%;
    right: -25%;
}

div#options_bar {
    background-color: rgb(0, 100, 139);
    width: 100%;
    height: 3em;
    position: relative;
    top: -7.02em;
}

div.shortspace {
    padding: 0.5em;
}

a#github_link {
    display: block;
    font-family: monospace;
    text-decoration: none;
    color: black;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 30%;
}

div.github_link_block {
    background-color: rgb(10, 143, 187);
    position: absolute;
    width: 7.6%;
    height: 3em;
    right: 53.7%;
}

a#download_link {
    display: block;
    font-family: monospace;
    text-decoration: none;
    color: black;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 30%;
}

div.download_link_block {
    background-color: rgb(24, 111, 141);
    position: absolute;
    width: 7.6%;
    height: 3em;
    right: 46.1%;
}

a#latest_download_link {
    display: block;
    font-family: monospace;
    text-decoration: none;
    color: black;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 30%;
}

div.latest_download_link_block {
    background-color: rgb(10, 143, 187);
    position: absolute;
    width: 7.6%;
    height: 3em;
    right: 38.6%;
}