body {
    background-color: rgb(218, 230, 242);
}

h1 {
    font-family: fantasy;
}

#webhook_data {
    font-family: monospace;
    font-size: 14px;
}

#send_button {
    background-color: azure;
    border-width: 0.5px;
    font-family: monospace;
}

#send_button:active {
    background-color: rgb(113, 176, 176);
}

#send_button:hover {
    border-width: 2px;
}

#url_box_child {
    width: 500px;
}

#message_box_child {
    vertical-align: middle;
}

#username_box_child {
    width: 200px;
}

#thread_name_box_child {
    width: 185px;
}

#avatar_url_box_child {
    width: 175px;
}

.divs {
    padding-bottom: 5px;
}